@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hepta+Slab:wght@1..900&family=Lexend:wght@100..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;     }

.UstBar {
  width: 100%;
  height: 60px;
  background-color: rgb(200, 200, 200);     }

.Elementler {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-left: 20px;     }

.Element {
  color: rgb(255, 225, 200);
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  border-style: outset;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;     }

.Elementler  li:first-child {
  margin-right: auto;     }

.Elementler :nth-child(2) {
  margin-left: 25px;
}

.Elementler li:last-child {
  margin-right: 20px;     }

.Element:hover {
  transition: 150ms;
  transform: scale(0.975);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;     }

.Element:focus {
  transition: 250ms;
  transform: scale(0.95);
  color: black;
  background-color: white;     }

textarea {
  width: 90%;
  height: 500px;
  padding: 15px;
  margin-left: 5%;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;    
  font-family: "Lexend", Georgia, sans-serif;
  line-height: 1.5;
  border-radius: 10px;
  border: 5px solid #ccc;
  box-shadow: 0 4px 10px rgba(0,0,0,1);
  resize: none;
  outline: none;
  background-color: #fff;
  transition: 300ms;     }

textarea:focus {
  border-color: rgb(70, 200, 50);
  box-shadow: 0px 5px 10px 5px rgb(40, 100, 50);     }

textarea::-webkit-scrollbar {
  width: 10px;     }

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3.5px;     }

textarea::-webkit-scrollbar-track {
  background-color: #dbdbdb;     }

#EminMisinBas {
  width: 0;
  height: 0;
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(1.05); }
  to { opacity: 1; transform: scale(1); }     }

#EminMisin {
  background: rgba(150, 50, 50, 0.98);
  margin-top: 85px;
  margin-left: 15%;
  width: 70%;
  height: 400px;
  position: fixed;
  animation: fadeIn 0.3s ease;
  top: 0;
  left: 0;
  border-radius: 20px;
  text-align: center;
  font-size: 30px;
  padding-top: 150px;     }

#EminMisin button {
  width: 100px;
  height: 30px;
  margin-top: 75px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 10px;     }

#EminMisin button:hover {
  transition: 200ms;
  background-color: rgba(129, 108, 108, 1);
  transform: scale(0.975);     }

@keyframes Y端klenmeArkaPlan {
  0%{   background-position:0% 50%;}
  50%{  background-position:100% 50%;}
  100%{ background-position:0% 50%;}     }

#YuklemeEkrani {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.25s ease;
  background: linear-gradient(45deg, rgb(255 0 0), rgb(0 0 255));
  background-size: 300% 300%;
  animation: Y端klenmeArkaPlan 1.75s ease-in-out infinite;     }

@keyframes Y端klenme {
  0% {    transform: rotate(0deg) scale(1);}
  10% {   transform: rotate(72deg) scale(1.01);}
  40% {   transform: rotate(288deg) scale(1.09);}
  50% {   transform: rotate(360deg) scale(1.1);}
  60% {   transform: rotate(432deg) scale(1.09);}
  90% {   transform: rotate(648deg) scale(1.01);}
  100% {  transform: rotate(720deg) scale(1);}     }

#YuklemeEkrani .daire {
  width: 100px;
  height: 100px;
  border: 10px solid #00000025;
  border-top: 10px solid #cccccc;
  border-radius: 50%;
  animation: Y端klenme 1.75s linear infinite;     }

